<config xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" mviewerversion="3.10.1">
    <application title="Ma commune" logo="" favicon="" help="" titlehelp="" iconhelp="fas fa-home"
        home="" zoomtools="true" initialextenttool="true"
        exportpng="false" showhelp="false" coordinates="false" measuretools="true"
        mouseposition="false" geoloc="false"
        style="apps/ma_commune/css/commune.css"
        studio="https://geobretagne.fr/mviewerstudio/index.html?xml="
        togglealllayersfromtheme="false">
</application>
    <mapoptions maxzoom="20" projection="EPSG:3857" center="-307903.74898791354,6141345.088741366"
        zoom="8" />
    <proxy url="" />
    <olscompletion type="ban" url="https://api-adresse.data.gouv.fr/search/"
        attribution="Base adresse nationale (BAN)" />
    <searchparameters bbox="false" localities="true" features="false" static="false" />
    <baselayers style="default">
        <baselayer visible="true" id="positron" thumbgallery="img/basemap/positron.png"
            title="CartoDb" label="Positron" type="OSM"
            url="https://{a-c}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"
            attribution="Map tiles by  &lt;a href=&quot;https://cartodb.com/attributions&quot;&gt;CartoDb&lt;/a&gt;, under  &lt;a href=&quot;https://creativecommons.org/licenses/by/3.0/&quot;&gt;CC BY 3.0 &lt;/a&gt;" />
        <baselayer visible="false" id="ortho_ign" thumbgallery="img/basemap/ortho.jpg" title="IGN"
            label="Photographies aériennes IGN" type="WMTS"
            url="https://wxs.ign.fr/choisirgeoportail/geoportail/wmts?"
            layers="ORTHOIMAGERY.ORTHOPHOTOS" format="image/jpeg" fromcapacity="false"
            attribution="&lt;a href='https://geoservices.ign.fr' target='_blank'&gt;&lt;img src='https://geobretagne.fr/pub/logo/099_ign.jpg'&gt;&lt;/a&gt;"
            style="normal" matrixset="PM" maxzoom="22" />
    </baselayers>
    <extensions>
        <extension type="javascript" src="/apps/ma_commune/config/configuration.js" />
    </extensions>
    <themes mini="false">
        <theme id="theme-20240213150421" name="Services" collapsed="true" icon="fas fa-caret-right">
            <group name="Services à la population" id="services_pop">
                <layer id="commune"
                    name="Communes de Bretagne"
                    type="customlayer"
                    vectorlegend="false"
                    url="{{fqdn}}/apps/ma_commune/customlayers/commune.js"
                    queryable="false"
                    visible="true"
                    showintoc="false"
                    attribution="La couche visible sur la carte est une couche WMS. Y est associée une couche WFS de source identique invisible permettant une interaction au survol de la souris." />

                <layer id="administration" name="Administrations (mairies...)"
                    visible="true" tiled="false" searchable="false" queryable="true"
                    type="customlayer"
                    vectorlegend="true"
                    url="{{fqdn}}/apps/ma_commune/customlayers/administration.js"
                >
                    <template url="{{fqdn}}/apps/ma_commune/templates/administration.html"></template>
                </layer>
            </group>
            <!-- <group name="Education et jeunesse" id="grp1">
                <layer id="poi_etablissement_scolaire" name="Établissements scolaires"
                    visible="false" tiled="false" searchable="false" queryable="true"
                    fields="appellatio" aliases="appellatio" attributefilter="true"
                    attributefield="classe"
                    attributevalues="Ecole maternelle,Ecole élémentaire,Collège,Lycée,EREA"
                    attributelabel="Filtre" attributestylesync="false"
                    attributefilterenabled="false" infoformat="application/vnd.ogc.gml"
                    featurecount="20" style="etablissement_scolaire_nature" stylesalias=""
                    url="https://ows.region-bretagne.fr/geoserver/interne/wms"
                    attribution="Source: Data.gouv"
            metadata="https://www.data.gouv.fr/fr/datasets/adresse-et-geolocalisation-des-etablissements-denseignement-du-premier-et-second-degres/"
                    metadata-csw="">
                    <template
            url="https://kartenn.region-bretagne.fr/kartoviz/apps/region/transport/templates/transport.poi.etab_scolaire.mst"
            />
                </layer>
                <layer id="lycee" name="Lycées" visible="false" tiled="false" searchable="false"
                    queryable="true" fields="axe" aliases="axe" attributefilter="true"
                    attributefield="secteur_li"
                    attributevalues="Public,Privé sous contrat avec l'éducation nationale"
                    attributelabel="Filtre" attributestylesync="false"
                    attributefilterenabled="false" infoformat="application/vnd.ogc.gml"
                    featurecount="20"
                    sld="https://kartenn.region-bretagne.fr/styles/lycee_secteur.sld"
                    url="https://ows.region-bretagne.fr/geoserver/rb/wms"
                    attribution="Source: Région Bretagne">
                    <template
                        url="https://kartenn.region-bretagne.fr/kartoviz/apps/region/global/templates/global.lycee.mst" />
                </layer>
            </group> -->
            <!-- <group name="Santé" id="grp2">
                <layer id="base_equipement" name="Offre de santé" type="wms"
                    url="https://geobretagne.fr/geoserver/insee/wms" tiled="true" visible="false"
                    infoformat="application/vnd.ogc.gml" fields="" aliases="" style=""
                    stylesalias=""
            metadata="https://geobretagne.fr/geonetwork/srv/eng/catalog.search?node=srv#/metadata/6bf21905-9385-45e9-846c-ff761abebe46"
            metadata-csw="https://geobretagne.fr/geonetwork/srv/fre/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;ELEMENTSETNAME=full&amp;ID&amp;ID=6bf21905-9385-45e9-846c-ff761abebe46"
                    attribution="" queryable="true" searchable="false" fusesearchkeys=""
                    fusesearchresult="" secure="public" useproxy="false" filter="" sld=""
                    legendurl="" featurecount="" infopanel="right-panel" opacity="1" index=""
                    styletitle="" dynamiclegend="false" toplayer="false" exclusive="false"
                    showintoc="true" attributefilter="true" attributefield="equipement"
                    attributevalues="Médecin généraliste,Chirurgien dentiste,Pharmacie"
                    attributelabel="equipement">
                    <template
            url="https://geobretagne.fr/mviewer/apps/store/region_bretagne/3822d67fb00e/ma_commune/templates/base_equipement.mst"
            />
                </layer>
            </group> -->
        </theme>
    </themes>
</config>